*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
}

.page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

.header-album{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    border-bottom: solid white;
    text-shadow:
        0 0 5px  #9e9e9e,
        0 0 10px #9e9e9e,
        0 0 20px #9e9e9e,
        0 0 40px #9e9e9e,
        0 0 80px #9e9e9e;
    position: relative;
    background-color: rgb(10, 10, 10);
}

.header-album h1{
    font-size: 3rem;
}

.header-album a{
    color: white;
    transition: 0.3s;
}

.header-album a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.header-album a img{
    width: 50%;
}


.spacer{
    width: 9%;
}

.album-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    gap: 3rem;
}

.album{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;
    min-height: 90%;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 1.6rem;
    border-radius: 5%;
    border: white solid 2px;
    gap: 1rem;
}

.album img{
    width: 100%;
    border-radius: 5%;
}

li{
    list-style: none;
    line-height: 1.6rem;
}

.vsself li{
    line-height: 1.2rem;
}