*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(30, 30, 30);
    color: white;
}

.main-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    align-items: center;
    height: 15vh;
    width: 100vw;
    border-bottom: solid white;
    text-shadow:
        0 0 5px  #9e9e9e,
        0 0 10px #9e9e9e,
        0 0 20px #9e9e9e,
        0 0 40px #9e9e9e,
        0 0 80px #9e9e9e;
}

.genre-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.genre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    font-size: 2rem;
}

.genre h2{
    text-shadow:
        0 0 5px  #9e9e9e,
        0 0 10px #9e9e9e,
        0 0 20px #9e9e9e,
        0 0 40px #9e9e9e,
        0 0 80px #9e9e9e;
}