*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
}

.main-page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    align-items: center;
    height: 15vh;
    width: 100vw;
    border-bottom: solid white;
    text-shadow:
        0 0 5px  #9e9e9e,
        0 0 10px #9e9e9e,
        0 0 20px #9e9e9e,
        0 0 40px #9e9e9e,
        0 0 80px #9e9e9e;
}

.grow {
    padding: 10px 20px;
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

.grow:hover {
    transform: scale(1.1);
}

.genre-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.genre-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 85vh;
    padding: 5%;
}

.genre-page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 85vh;
    padding: 5%;
}

.genre-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genre-img img{
    width: 35%;
    margin-top: 10%;
    margin-bottom: 2.5%;
    border-radius: 5%;
}

.genre-text{
    border-bottom: white solid 2px;
    padding-bottom: 2.5%;
}

.genres{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    align-items: center;
    width: 75%;
    min-height: 75%;
}

.genres h1{
    font-size: 2.5rem;
    border-bottom: white solid 2px;
}

.genres ul{
    list-style: none;
    line-height: 3.2rem;
    margin-top: 5%;
}

.genres a{
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}